<p class="temp">{{temperature}}°C
      <br>
      <img class="weathericon"  src="{{currentConditionIcon}}"/>
</p>

<div align="center">
      <table class="forecast">
	<tr>

	  <td>
	    <div class="forecastCard">
	      <div style="border-bottom:1px solid;">
		{{forecastContent[0].time}}
	      </div>
	      {{forecastContent[0].temp}}°C<br>
	      <img class="forecasticon" src="{{forecastContent[0].icon}}"/>
	      </div>
	  </td> 

	  <td>
	    <div class="forecastCard">
	      <div style="border-bottom:1px solid;">
		{{forecastContent[1].time}}
	      </div>
	      {{forecastContent[1].temp}}°C<br>
	      <img class="forecasticon" src="{{forecastContent[1].icon}}"/>
	    </div>
	  </td> 

	</tr>

	<tr>

	  <td>
	    <div class="forecastCard">
	      <div style="border-bottom:1px solid;">
		{{forecastContent[2].time}}
	      </div>
	      {{forecastContent[2].temp}}°C<br>
	      <img class="forecasticon" src="{{forecastContent[2].icon}}"/>
	      </div>
	  </td> 

	  <td>
	    <div class="forecastCard">
	      <div style="border-bottom:1px solid;">
		{{forecastContent[3].time}}
	      </div>
	      {{forecastContent[3].temp}}°C<br>
	      <img class="forecasticon" src="{{forecastContent[3].icon}}"/>
	    </div>
	  </td> 

	</tr>

	
	
      </table>
</div>
