.main-table {
  width:100%;
  height:100%;
  border-spacing: 0.5vh;
}

.fs {
  position: absolute;
  width:99.3%;
  height:99.3%;
 }

.sidebar {
  text-align:center;
  vertical-align:top;
  background-color: rgba(104, 158, 180, 0.5);
  box-shadow: 5px 5px 5px rgba(150, 150, 150, 0.7);
  border-radius: 10px;
 }

.imagearea {
  text-align:center;
  width: 90%;
  height:90%;
}

table.imagearea4 {
  width:100%;
  height:100%;
  border-spacing: 0.5vh;
  text-align:center;
}

td.imagearea4 {
  text-align:center;
  vertical-align:center;
  width:50%;
  height:50%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.7);
}

.ticker {
  height: 100%;
}

.clock {
  color: white;
  font-family: arial, serif;

 }

div.emilelogo {
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;

}

@media (min-width: 0px) {
  img.emilelogo {
    width: 100px;
  }
}

@media (min-width: 1900px) {
  img.emilelogo {
    width: 150px;
  }
}

@media (min-width: 2500px) {
  img.emilelogo {
    width: 200px;
  }
}

@media (min-width: 3500px) {
  img.emilelogo {
    width: 300px;
  }
}

