<div class="fs" (window:resize)="onResize($event)" (window:onload1)="onResize($event)">
  <table class="main-table">
    <tr>
      <td class="imagearea">
        <div *ngIf="config.getScreenConfig()==1">
          <app-content [contentStream]="'c1'" [imgWidth]="imgWidth" [imgHeight]="imgHeight" [mixin]="true"></app-content>
        </div>

        <div *ngIf="config.getScreenConfig()==4">
          <table class="imagearea4">
            <tr>
              <td class="imagearea4">
                <app-content [contentStream]="'c1'" [imgWidth]="imgWidth" [imgHeight]="imgHeight" [mixin]="false"></app-content>
              </td>
              <td class="imagearea4">
                <app-content [contentStream]="'c3'" [imgWidth]="imgWidth" [imgHeight]="imgHeight" [mixin]="false"></app-content>
              </td>
            </tr>
            <tr>
              <td class="imagearea4">
                <app-content [contentStream]="'c2'" [imgWidth]="imgWidth" [imgHeight]="imgHeight" [mixin]="false"></app-content>
              </td>
              <td class="imagearea4">
                <app-content [contentStream]="'d1'" [imgWidth]="imgWidth" [imgHeight]="imgHeight" [mixin]="false"></app-content>
              </td>
            </tr>
          </table>
        </div>

      </td>
      <td rowspan="2" class="sidebar">
        <div class="emilelogo">
          <img class="emilelogo" src="assets/logo-emile-white.png">
        </div>
        <div class="clock">
          <app-clock></app-clock>
          <p></p>
          <app-weather></app-weather>
        </div>


      </td>
    </tr>
    <tr class="ticker">
      <td><app-ticker></app-ticker></td>
    </tr>
  </table>
</div>
