<!--The content below is only a placeholder and can be replaced.-->
<div class="fs" (window:resize)="onResize($event)">
  <table>
    <tr>
      <td class="imagearea">
	  <img class="img" src="{{img}}"/>
	  <!-- <img style="max-width:500px;max-height:500px;" src="assets/{{img}}"/> -->
      </td>
      <td rowspan="2" class="sidebar">
	<div class="emilelogo">
	  <img class="emilelogo" src="assets/logo-emile-white.png">
	</div>
	<div class="clock">
	  <app-clock></app-clock>
	  <p></p>
	  <app-weather></app-weather>
	</div>


      </td>
    </tr>
    <tr>
      <td class="ticker">
	  {{ticker}}
      </td>
    </tr>
</table>
</div>
