.main-table {
  width:100%;
  height:100%;
  border-spacing: 1vh;
}

.fs {
  position: absolute;
  width:98%;
  height:98%;
 }

.sidebar {
  text-align:center;
  vertical-align:top;
  background-color: rgba(104, 158, 180, 0.5);
  box-shadow: 5px 5px 5px rgba(150, 150, 150, 0.7);
  border-radius: 10px;
 }

.imagearea {
  text-align:center;
  width: 90%;
  height:90%;
}

table.imagearea4 {
  width:100%;
  height:100%;
  border-spacing: 1vh;
}

td.imagearea4 {
  text-align:center;
  width: 50%;
  height:50%;
}



.img {
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.7);
  border-radius: 10px;
 }

div.ticker {
  width: 100%;
  height: 100%;
  animation: tickerAlert 5s infinite;
 }

td.ticker {
  height: 100%;
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.7);
  background-color: rgba(104, 158, 180, 0.5);  /* #689eb4;*/    /*#4487a2;*/
  color: white;
  font-family: arial;
  font-size: 4vh;
  text-align: center;
  vertical-align: center;
  border-radius: 10px;
}

td.tickerAlert {
  height: 100%;
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.7);
  background-color: rgba(104, 158, 180, 0.5);  /* #689eb4;*/    /*#4487a2;*/
  color: white;
  font-family: arial;
  font-size: 4vh;
  text-align: center;
  vertical-align: center;
  border-radius: 10px;
  animation: tickerAlert 2s infinite;
  animation-direction: alternate;
}

@keyframes tickerAlert {
  from {background-color: rgba(104, 158, 180, 0.5); }
  to {background-color: rgba(140, 158, 180, 0.9); }
}

.clock {
  color: white;
  font-family:arial;

 }

div.emilelogo {
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;

}

@media (min-width: 0px) {
  img.emilelogo {
    width: 100px;
  }
}

@media (min-width: 1900px) {
  img.emilelogo {
    width: 150px;
  }
}

@media (min-width: 2500px) {
  img.emilelogo {
    width: 200px;
  }
}

@media (min-width: 3500px) {
  img.emilelogo {
    width: 280px;
  }
}

